<div class="card">
  <div class="card-block">
    <div class="btn-group" role="group">
        <button type="button" routerLink="/add-song" class="btn btn-secondary">Add Song</button>
        <button type="button" routerLink="/upload" class="btn btn-secondary">Upload</button>
    </div>
    <br><br>
  <table class="table" style="width:100%">
  <thead>
    <tr>
      <th><span class="fa fa-bars"></span></th>
      <th>Title</th>
      <th>Artist</th>
      <th class="hidden-xs-down">Album</th>
    </tr>
  </thead>
  <tbody id="sortable">
    <tr *ngFor="let item of items | async; let i = index" [id]="i+'='+item.$key">
      <td class="handle"><span class="fa fa-bars"></span></td>
      <td>{{item.title}}</td>
      <td>{{item.artist}}</td>
      <td class="hidden-xs-down">{{item.album}}</td>
    </tr>
  </tbody>
</table>
  </div>
</div>