<div class="card">
  <div class="card-block">
    <div class="btn-group" role="group">
        <button type="button" routerLink="/add-song" class="btn btn-secondary">Add Song</button>
        <button type="button" routerLink="/upload" class="btn btn-secondary">Upload</button>
    </div>
  <table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Artist</th>
      <th>Album</th>
    </tr>
  </thead>
  <tbody id="sortable">
    <tr id="ls-1">
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr id="ls-2">
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr id="ls-3">
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
  </div>
</div>